<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email verification</title>
  </head>
  <body style="display: flex;flex-direction: column;justify-content: center;align-items: center;min-height: 100vh;overflow: hidden;;text-align: center;font-size: 20px;font-weight: 500;color: #333;font-family:system-ui,Segoe UI,sans-serif;line-height: 40px;background-color: #3e4252;color: #fff;">
    <p>Hi {{ $user->name }},</p>
    <p>
      Thank you for registering on our website. Your validation code is : <b style="background-color: #01b4e4;padding: 9px;display: block;margin-top: 10px;border-radius: 10px;font-weight: 700;font-size: 22px;">{{
      $validationCode }}</b>
    </p>
    <p>Please enter this code in Postman to complete your registration.</p>
  </body>
</html>
